{{ include('components/_question.html.twig', { question: 'Quel petit déjeuner prenez-vous souvent ?' }) }}
<div class="user-icon d-flex justify-content-center pb-3">
    <img src="{{ asset('build/images/french_breakfast.c4d6369d.png') }}" alt="">
    <img src="{{ asset('build/images/green_juice.92a7d032.png') }}" alt="">
    <img src="{{ asset('build/images/muesli.e35e9464.png') }}" alt="">
    <img src="{{ asset('build/images/mixed_fruits.9110c475.png') }}" alt="">
</div>
<div class="input-favorite_breakfast">
    {{ form_row(form.favoriteBreakfast, {'attr': {'class':'d-flex flex-row justify-content-center'}}) }}
</div>